extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
          .campo
            label(for="tarea") Tarefa:
            input.nombre-tarea(type="text" name="tarea" placeholder="Nome da Tarefa")
          .campo.enviar
            input.boton.nueva-tarea(type="submit" value="Adicionar") 

        .listado-pendientes
          ul
            if tareas.length
              each tarea in tareas
                li.tarea(data-tarea=tarea.id)
                  p= tarea.tarea
                  .acciones
                    if tarea.estado
                      i.far.fa-check-circle.completo
                    else 
                      i.far.fa-check-circle
                    i.fas.fa-trash
            else
              p Não há tarefas neste projeto

        //- pre= vardump(tareas)

        // progressão do projeto 
        .avance
          h2 Progresso do Projeto
          #barra-avance.barra-avance
            #porcentaje.porcentaje
        

        //ações p agir //
        .contenedor-acciones
          a(href=`/proyectos/editar/${proyecto.id}`, class="boton") Editar Projeto
          button#eliminar-proyecto(data-proyecto-url=proyecto.url  type="button" class="boton eliminar") Eliminar Projeto


